.counting-up {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: $cl-dark;
    .border-container {
        box-shadow: none;
    }
    .row {
        margin:  0;
    }
    h4 {
        font-size: 40px;
        color: $bg-color;
    }
}