.border-container {
    max-width: 1180px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    box-shadow: #c94283 0px 0px 14px 1px;
    padding: 30px;
}
.my-container {
    width: 100%;
    padding: 20px 30px;
}
.btn-default {
    min-width: 150px;
    padding: 10px 15px;
    border: 1px solid $bg-color;
    background-color: $bg-color;
    font-size: 22px;
    font-weight: 300;
    transition: all .3s;
    color: white;
    border-radius: 4px;
    &:hover {
        background-color: white;
        color: $bg-color;
        transition: all .3s;
    }
}
.btn-no-border {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: $bg-color;
    transition: all .3s;
    padding: 10px 15px;
    min-width: 150px;
    border-radius: 4px;
    &:hover {
        background-color: $bg-color;
        color: white;
        transition: all .3s;
    }
}

.scrolltop {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 45px;
    background-color: $bg-color;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s all;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%) rotate(-45deg);
        border-top: 2px solid white;
        border-right: 2px solid white;
        width: 10px;
        height: 10px;
    }
    &.active {
        opacity: 1;
    }
    @media screen and (max-width: 768px) {
        right: 10px;
        bottom: 10px;
    }
}

main {
    min-height: 80.1vh;
}
table {
    border: 2px solid black;
    th, td {
        text-align: center;
    }
}
td {
    border-right: 1px solid #dee2e6;
    border-collapse: none;
}
@keyframes animate {
    from {opacity: 0;}
    to {opacity: 1;}
}